body {
  font-family: sans-serif;
}

table {
  border: 1px solid black;
}

ul li {
  padding-bottom: 10px;
}

a {
  text-decoration: none;
  color: white;
  background-color: grey;
  border-radius: 50%;
  padding: 0 5px 0 5px;
}

input {
  background-color: #dcdcdc;
  border-radius: 20%;
  border: 1px solid black;
  margin-bottom: 10px;
}

table.equipes {
  float: left;
}

table.joueurs {
  float: left;
}
